@import url(http://fonts.googleapis.com/css?family=Muli);

html, body, #container, #map {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/background.png");
}

p, button, span, li {
  font-family: 'Muli', sans-serif;
}

button {
  font-size: 18px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#view-scoreboard {
  background: rgba(0,0,0, 0.8);
  color: white;
  width: 50%;
  min-width: 400px;
  top: 20%;
  left: 25%;
  height: 60%;
  margin: 0 auto;
  z-index: 20;
  position: absolute;
}

#close {
  position: absolute;
  z-index: 30;
  top: 10px;
  right: 10px;
  background-color: #000;
  border: 0px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px 12px; 
  font-size: 10px;
}

#close:hover {
  cursor: pointer;
  background-color: #222;  
}

li {
  list-style: none;
  height: 40px;
  font-size: 18px;
}

ul {
  height: 93%;
  overflow: scroll;
}

/***************************************/
/*Player Screen*/
/***************************************/

 #winOrLoose, #player-stats {
  padding: 14px 20px 0 20px;
  position: absolute;
  margin: auto;
  z-index: 20;
  text-align: center;
  line-height: 20px;
  height: 30px;
  font-size: 18px;
}

#winOrLoose {
  color: white;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.8);
}

#player-stats{
  top: 20px;
  right: 20px;
}

#player-scores {
  color: #C22A2C;
  font-weight: bold;
  float: left;
  padding-left: 5px;
}

#player-names {
  float: left;
}

/***************************************/
/*Host Screen*/
/***************************************/

#panel {
  position: absolute;
  z-index: 20;
  text-align: left;
  width: 100%;
  background-color: transparent;
}

 #find {
  position: absolute;
  font-size: 18px;
  color: white;
  top: 2px;
  left: 20px;
  background-color: rgba(0,0,0,0.8);
  padding: 14px 20px 0 20px;
  z-index: 20;
  text-align: left;
  line-height: 20px;
  height: 30px;
}

 #winner-bar {
  color: #222;
}

#check, #new-game{
  float: right;
  background-color: #ff0000;
  border: 0px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 15px 20px; 
  margin: 20px 20px 0 0;
}

#check:hover, #new-game:hover {
  cursor: pointer;
  background-color: #999; 
}

#check:disabled {
  background-color: #666;
  color: #999;
  cursor: none;
}

#reset, #scoreboard {
  position: absolute;
  z-index: 20;
  bottom: 20px;
  float: right;
  background-color: #999;
  border: 0px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 15px 20px; 
}

#reset:hover, #scoreboard:hover {
  cursor: pointer;
  background-color: #222;  
}

#scoreboard {
  left: 20px;
}

#scoreboard:disabled {
  color: #ccc;
  background-color: #999;
  cursor: none;
}

#reset {
  right: 20px;
}


/***************************************/
/*Start Screen*/
/***************************************/


#start-host, #start-player{
  background-color: #282822;
  border: 0px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 2.5%; 
  margin: 2%;
  font-size: 1.3vw;
  width: 22%;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#start-host:hover, #start-player:hover {
  cursor: pointer;
  background-color: #1C7715; 
}

#start-screen {
  text-align: center;
  height: 68%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#logo {
  width: 40%;

}

#desc {
  width: 33%;
}